.kaufman {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}

.kaufman::after {
  content: '';
  width: 877px;
  height: 877px;
  background-image: url(../../images/kaufman/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right:-210px;
  top:0;
  animation: rotation 20s linear infinite;
}
